<?xml version="1.0"?>
<launch>

  <node name="test_g_comp" pkg="gravity_compensation" type="gravity_compensation_node" cwd="node" respawn="false" output="screen">
    <rosparam command="load" file="$(find gravity_compensation)/example/config.yaml" />
    <param name="loop_frequency" value="800.0" />
    <param name="gripper_com_broadcast_frequency" value="10.0"/>
    <remap from="/test_g_comp/imu" to="/imu/data"/>
    <remap from="/test_g_comp/ft_raw" to="/left_arm_ft_sensor/ft_raw"/>
  </node>
</launch>
